.app {
  height: 100vh;
  padding: 15px;
  background: rgb(237, 238, 238);
  background: linear-gradient(
    60deg,
    rgba(237, 238, 238, 1) 0%,
    rgba(113, 181, 217, 1) 100%
  );
  &__title {
    margin: 0;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: #0284c7;
  }
}
