@import "./utils/scss/variables.scss";

.app {
  min-height: 100vh;
  height: 100%;
  padding: 15px;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  &__title {
    margin: 0 0 20px 0;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    color: $white;
    text-shadow: 1px 1px 2px black;
  }
}
