@import "./utils/scss/variables.scss";

.app {
  min-height: 100vh;
  height: 100%;
  padding: 15px;
  background: linear-gradient(45deg, $turqoiseBg, $violetBg);
  &__title {
    margin: 0 0 20px 0;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: $white;
    text-shadow: 1px 1px 2px black;
  }
}
